@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Vinoteca online</h1>
    <hr />
    <div class="container">
        <img src="~/images/wine-1761613_1920.jpg" class="img-fluid" alt="imagen vino"/>
    </div>
</div>
