@model Vinoteca.Models.Vino

@{
    ViewData["Title"] = "Editar";
}


<h4>Editar Vino</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DenominacionOrigenId" class="control-label"></label>
                <select asp-for="DenominacionOrigenId" class="form-control" asp-items="ViewBag.DenominacionOrigenId"></select>
                <span asp-validation-for="DenominacionOrigenId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoVino" class="control-label"></label>
                <select asp-for="TipoVino" class="form-control"></select>
                <span asp-validation-for="TipoVino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anada" class="control-label"></label>
                <input asp-for="Anada" class="form-control" />
                <span asp-validation-for="Anada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EdadVino" class="control-label"></label>
                <select asp-for="EdadVino" class="form-control"></select>
                <span asp-validation-for="EdadVino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alcohol" class="control-label"></label>
                <input asp-for="Alcohol" class="form-control" />
                <span asp-validation-for="Alcohol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Azucar" class="control-label"></label>
                <input asp-for="Azucar" class="form-control" />
                <span asp-validation-for="Azucar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unidades" class="control-label"></label>
                <input asp-for="Unidades" class="form-control" />
                <span asp-validation-for="Unidades" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ApplicationUserId" class="form-control" />

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexUser">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
