@model NewBodegueroViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Bodeguero";
}

<h1 class="main-title">Vender vinos</h1>

<hr class="main-hr" />

    <div class="col-xl-4 col-md-6 col-sm-12 login-container">
        <form asp-controller="Account" asp-action="Bodeguero" asp-antiforgery="true" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @*<input type="hidden" asp-for="Id" />*@
            <div class="form-group">
                <label asp-for="NombreBodega" class="control-label"></label>
                <input asp-for="NombreBodega" class="form-control" />
                <span asp-validation-for="NombreBodega" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cif" class="control-label"></label>
                <input asp-for="Cif" class="form-control" />
                <span asp-validation-for="Cif" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Registrarse" class="btn custom-btn-primary" />
            </div>
        </form>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

