@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión"; 
    }

<div class="col-xl-4 col-md-6 col-sm-12 login-container">
    <div class="logo-container">
    <img src="~/images/logo.png" alt="logo" class="logo-image" />
    </div>
    @*<p>Usuario: "Prueba"  Pass: "Prueba123"</p>*@
    <section id="loginForm">
        <form asp-controller="Account" asp-action="Login" asp-antiforgery="true" asp-route-returnurl="@ViewData["ReturnUrl"]"
              method="post" class="form-horizontal">
            
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User"></label>
                <input asp-for="User" class="form-control" />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="custom-checkbox-container">
                    <input asp-for="RememberMe" />
                    <label asp-for="RememberMe">
                         @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <div class="form-group d-flex justify-content-center">
                <button type="submit" class="btn custom-btn-primary">
                    <i class="fas fa-sign-in-alt"></i> Iniciar sesión
                </button>
            </div>
        </form>
    </section>

</div>
@section Scripts { @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); } }
