@model NewUserViewModel
@{
    ViewData["Title"] = "Nueva cuenta";
}

<div class="col-xl-4 col-md-6 col-sm-12 login-container">
<div class="logo-container">
    <img src="~/images/logo.png" alt="logo" class="logo-image" />
    </div>
</div>
    <section id="loginForm">
        <form asp-controller="Account" asp-action="NewUser" asp-antiforgery="true" asp-route-returnurl="@ViewData["ReturnUrl"]"
              method="post" class="form-horizontal">
            <div class="row">
            <div class="col-xl-4 col-md-4 col-sm-12 profile-card mt-5">
                <div id="img-container" class="profile-image-container">
                    <img id="image-preview" class="profile-image" src="~/images/Default_profile_image.png" alt="your image" style="max-width:100%" />
                </div>
                <div class="form-group mt-3 d-flex justify-content-center">
                    <label for="ImageProfile" class="btn custom-btn-secondary cursor-pointer">Imagen de perfil</label>
                    <input asp-for="ImageProfile" type="file" accept="image/png, image/jpeg" class="d-none form-control" />

                </div>
                <span asp-validation-for="ImageProfile" class="text-danger"></span>
            </div>

            <div class="col-xl-6 col-md-6 col-sm-12 mt-3">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User"></label>
                <input asp-for="User" class="form-control" />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos"></label>
                <input asp-for="Apellidos" class="form-control" />
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword"
                      class="text-danger"></span>
            </div>
            <div class="card-img">
                <img id="image-preview" src="#" alt="your image" hidden />
            </div>

            <div class="form-group">
                <button type="submit" class="btn custom-btn-primary"><i class="fas fa-user-plus"></i> Crear cuenta</button>
            </div>
            </div>
            </div>
        </form>
    </section>


@section Styles {
    <link href="~/css/Images.css" rel="stylesheet" />
}


@section Scripts { 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); } 
     <script>
        var profileImage = '@ViewBag.ProfileImage';
    </script>
    <script src="~/js/ImagePreview.js"></script>

}
