@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-controller="Account" asp-action="Logout">
                <a class="nav-link red-nav-text" asp-area="" asp-controller="Account" asp-action="AccountDetails"><i class="fas fa-user"></i> @User.Identity.Name</a>
                <button id="logout" type="submit" class="nav-link btn btn-link red-nav-text"><i class="fas fa-sign-out-alt"></i> Cerrar sesión </button>
                <a href="#"><i class="fas fa-shopping-cart mr-1 custom-cart"></i></a>
            </form>
        </li>
        @*asp-route-returnUrl="@Url.Action("Index","Home", new { area = "" })"*@
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="NewUser">Registrarse</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Entrar</a>
        </li>
    }
</ul>
